<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    
New Broken Laptop
<form method="POST" action="/create">
<label for="brand">Brand: </label>
<input name="brand" type="text">
<label for="brand">Price: </label>
<input name="price" type="text">
<input type="submit" value="Add">
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for brokenlaptop in brokenlaptop %}
	<tr>
		<td>{{ brokenlaptop.id }}</td>
		<td>{{ brokenlaptop.brand }}</td>
		<td>{{ brokenlaptop.price }}</td>
		<td> 
		<a href ="/delete/{{ brokenlaptop.id }}"> Delete </a>
		<td> 
		<a href ="/update/{{ brokenlaptop.id }}"> Update </a>		
	</tr>
{% endfor %}
</table>
