<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
 Update Broken Laptop
<form method="POST" action="/update/{{brokenlaptop.id}}">
<label for="brand">Brand: </label>
<input name="brand" type="text" value = {{brokenlaptop.brand}}>
<label for="price">Price: </label>
<input name="price" type="text" value = {{brokenlaptop.price}}>
<input type="submit" value="Update">
</form>